.map{
   
    padding: 10px 270px;
    border: 2px solid lightgrey;
    margin: 35px 15px;
    border-radius: 35;
    
    
   
   
   
}

.map0{
    background-color: black ;
    border-radius: 35px;
}
